{% extends "layout.html" %}

{% block content %}

    {% if success %}
        <h2> {{ device }} was successfully added</h2>
    {% else %}
        <h2>Adding a VM</h2>

        <form action="{{ url_for('adddevice') }}" method=post>
            {{ form.hidden_tag() }}

            {{ form.servername.label }}
            {{ form.servername }}
            {% for message in form.servername.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.internalname.label }}
            {{ form.internalname }}
            {% for message in form.internalname.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.mainresponsible.label }}
            {{ form.mainresponsible }}
            {% for message in form.mainresponsible.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.substitute.label }}
            {{ form.substitute }}
            {% for message in form.substitute.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.costcenter.label }}
            {{ form.costcenter }}
            {% for message in form.costcenter.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.location.label }}
            {{ form.location }}
            {% for message in form.location.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.department.label }}
            {{ form.department }}
            {% for message in form.department.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.servertype.label }}
            {{ form.servertype }}
            {% for message in form.servertype.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.serverdescription.label }}
            {{ form.serverdescription }}
            {% for message in form.serverdescription.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.serverservice.label }}
            {{ form.serverservice }}
            {% for message in form.serverservice.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.workloadservice.label }}
            {{ form.workloadservice }}
            {% for message in form.workloadservice.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.workloadintime.label }}
            {{ form.workloadintime }}
            {% for message in form.workloadintime.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.privacyrelatedfiles.label }}
            {{ form.privacyrelatedfiles }}
            {% for message in form.privacyrelatedfiles.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.dependencies.label }}
            {{ form.dependencies }}
            {% for message in form.dependencies.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.redundancy.label }}
            {{ form.redundancy }}
            {% for message in form.redundancy.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.bootorder.label }}
            {{ form.bootorder }}
            {% for message in form.bootorder.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.impactforotherserver.label }}
            {{ form.impactforotherserver }}
            {% for message in form.impactforotherserver.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.departmentaffected.label }}
            {{ form.departmentaffected }}
            {% for message in form.departmentaffected.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.furtherwork.label }}
            {{ form.furtherwork }}
            {% for message in form.furtherwork.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.cost.label }}
            {{ form.cost }}
            {% for message in form.cost.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.serviceaccount.label }}
            {{ form.serviceaccount }}
            {% for message in form.serviceaccount.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.purposeaccount.label }}
            {{ form.purposeaccount }}
            {% for message in form.purposeaccount.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.manuallyrestart.label }}
            {{ form.manuallyrestart }}
            {% for message in form.manuallyrestart.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.otherinformation.label }}
            {{ form.otherinformation }}
            {% for message in form.otherinformation.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.submit }}
        </form>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
