{% extends "layout.html" %}

{% block content %}

    {% if success %}
        <h2> {{ device }} was successfully added</h2>
    {% else %}
        <h2>Adding a new Device</h2>

        <form action="{{ url_for('adddevice') }}" method=post>
            {{ form.hidden_tag() }}

            {{ form.device.label }}
            {{ form.device }}
            {% for message in form.device.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.energyusage.label }}
            {{ form.energyusage }}
            {% for message in form.energyusage.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.hoursperweek.label }}
            {{ form.hoursperweek }}
            {% for message in form.hoursperweek.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.submit }}
        </form>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
