<!DOCTYPE html>
<html>
  <head>
    <title>VM Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
  <center><img src="https://secure-media.ztat.net/media/teaser/logo/zalando-logo.png"></center>
  <header>
      <div class="container">
        <h1 class="logo">VM Overview (pre Alpha)</h1>
        <nav>
          <h3><ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('adddevice') }}">Add a new VM</a></li>
          </ul></h3>
        </nav>
      </div>
    </header> 

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
